
@media only screen and (max-width: 800px) {

    .list{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 10%;
    }

    .nav{
        margin-top: 5px;
    }


}

.navbar {
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    /* alert */
    height: 10%;

}



.list {
    display: flex !important;

    align-items: center !important;

    list-style: none !important;

}

.item {
    margin-right: 1em;
}

.item a {

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: inline-block;
    padding: .5em 1.5em .5em 1.5em;
    font-size: .7em;
    color: white;
    text-transform: capitalize;
    text-decoration: none;
    transition: all 0.2s ease-in;
}
.item a:hover,
.item a:active {
    color: #000000;
    background-color: #d54f09;

}
