


.App {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #222222;

  width: 100vw;
  height: 100vh;
  }
.App::before {
  content:"";
  height:0;
  float:left;
  padding-bottom:100%;
}
.App::after {
  content: "";
  display: block;
  clear: both;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {


}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {


}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}
